CONFIG_UNITY_ENABLE_FLOAT=y
CONFIG_UNITY_ENABLE_DOUBLE=y
CONFIG_ESP_TASK_WDT_EN=n
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_ENABLE=y
CONFIG_UNITY_ENABLE_IDF_TEST_RUNNER=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="../../partitions.csv"
