menu "TapGate Settings"

    menu "Device Configuration"
        config TAPGATE_MAX_CLIENTS_DB
            int "Capacity enrolled clients"
            range 1 100
            default 50
            help
                Specifies the device capacity for client enrollment.

        config TAPGATE_DEVICE_DEFAULT_NAME
            string "Default Device Name"
            default "TapGate v1"
            help
                Default device name to use if not configured otherwise.
                Maximum length **31 characters** (exceeding this may be truncated at build time).
    endmenu

    menu "Available Channels"
        config TAPGATE_CHANNEL_BLE
            bool "BLE Channel"
            default y
            help
                Enable Bluetooth Low Energy communication channel.

            if TAPGATE_CHANNEL_BLE
                menu "BLE UUID Settings"
                    config TAPGATE_BLE_SERVICE_UUID
                        string "Service UUID"
                        default "A9CA DC24-0EE5-A9E0-93F3-A3B501004061"
                        help
                            128-bit UUID for the main service.

                    config TAPGATE_BLE_RX_UUID
                        string "RX Characteristic UUID"
                        default "B9CA DC24-0EE5-A9E0-93F3-A3B502004062"
                        help
                            128-bit UUID for the RX characteristic.

                    config TAPGATE_BLE_TX_UUID
                        string "TX Characteristic UUID"
                        default "C9CA DC24-0EE5-A9E0-93F3-A3B503004063"
                        help
                            128-bit UUID for the TX characteristic.

                    config TAPGATE_BLE_PREFERRED_MTU
                        int "Preferred MTU Size"
                        range 23 517
                        default 256
                        help
                            Preferred Maximum Transmission Unit size for BLE connections.
                endmenu
            endif
                
        config TAPGATE_CHANNEL_DUMMY
            bool "Dummy Channel"
            default n
            help
                Enable a fake/test channel for diagnostic purposes.
    endmenu
    
    menuconfig TAPGATE_DEBUG_MODE
        bool "Debug Mode"
        default n
        select FREERTOS_USE_TRACE_FACILITY
        select FREERTOS_GENERATE_RUN_TIME_STATS
        help
            Provides enhanced logging and diagnostic capabilities.
            Enabling this will also force FreeRTOS to collect runtime statistics.

    if TAPGATE_DEBUG_MODE
        config TAPGATE_DIAG_INITIAL_PAUSE
            int "Initial pause before first Diagnostic report (seconds)"
            range 0 3600
            default 3
            help
                How many seconds to wait before the very first diagnostic output 
                after the system starts.

        config TAPGATE_DIAG_INTERVAL
            int "Console diagnostic reporting interval (seconds)"
            range 1 86400
            default 60
            help
                The timeout between subsequent diagnostic information logs.

        config TAPGATE_DIAG_FULL
            bool "Full console diagnostic output"
            default y
            help
                SHORT mode: heap, fragmentation, and critical/delta tasks only.
                FULL mode: full diagnostic information for all tasks.
    endif

endmenu
